@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-indigo {
    @apply py-2 px-4 bg-indigo-500 text-white rounded-lg shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-75 font-sans text-sm;
}



.btn-red {
    @apply p-2 bg-red-600 text-white rounded-lg shadow-md hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-75 font-sans text-sm transition duration-200;
}

.btn-green {
    @apply p-2 bg-blue-900 text-white rounded-lg shadow-md hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-75 font-sans text-sm transition duration-200;
}

.btn-blue {
    @apply p-2 bg-blue-400 text-white rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 font-sans text-sm;
}

.btn-decrease {
    @apply rounded-full h-10 w-10 flex items-center justify-center bg-red-800 text-white shadow-md hover:bg-red-500 font-sans text-sm transition duration-200;    
}


.btn-increase {
    @apply rounded-full h-10 w-10 flex items-center justify-center bg-green-800 text-white shadow-md hover:bg-green-500 font-sans text-sm transition duration-200;    
}


.sub {
    @apply text-blue-800 text-2xl font-sans mt-8;
}

.supra {
    @apply text-blue-800 text-4xl font-sans m-4;
}
