{% extends "lake/issue_detail.html" %}

{% block alternative_content %}

<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input type="submit" value="Confirm" class="btn btn-danger">
</form>

{% endblock %}
