{% extends "lake_base.html" %}
{% load slippers %}
{% load markdownify %}

{% load comments %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block lake_base_content %}

{% #island_card island=island user=user truncate=True %}

{% #issue_card issue=issue user=user truncate=True %}

{% #alternative_card alternative=alternative user=user %}

{% block alt_comments %}
{% #comments_card object=alternative %}
<div class="block">
  <a href="{% url 'alternative-comment' alternative.issue.island.id alternative.issue.id alternative.id %}#comments"
     class="btn-green mt-4">
    add comment</a>
</div>
{% /comments_card %}


<div>
  <!-- TODO: if may vote -->
  {% include 'lake/vote_form.html' %}
</div>

{% endblock %}
{% /alternative_card %}

{% /issue_card %}
{% /island_card %}

{% endblock %}
