{% load markdownify %}
<div id="alternative"
     class="flex flex-col rounded shadow-md bg-green-50 p-2">

  <h1 class="font-sans text-l text-green-800">
    <a href="{% url 'alternative-detail' alternative.issue.island.id alternative.issue.id alternative.id %}#alternative">
      {{ alternative.title }}
    </a>
    <div class="bg-green-600 p-2 text-xs font-sans text-white float-right max-w-max rounded-xl">
      score: {{ alternative.votes }}
    </div>
  </h1>

  <!-- alt controls -->
  <ul class="flex flex-wrap font-sans text-xs max-w-prose">
    <li class="text-left flex-1">
      <div class="block py-2 px-4 text-gray-400">
	proposed by 	
	<a class="text-blue-500 hover:text-green-500 transition duration-200"
	   href="{% url "profile-detail" alternative.author.username %}">
	  {{ alternative.author.get_full_name|default:alternative.author.get_username }}</a>
      </div>
    </li>

    <li class="text-left flex-1">
      <div class="block py-2 px-4 text-gray-400">
	{{ alternative.created }}
      </div>
    </li>

    <li class="flex-1 mr-2">
      {% if user == alternative.author %} <!-- TODO -->
      <a
	class="btn-green"
	href="{% url 'alternative-update' alternative.issue.island.id alternative.issue.id alternative.id %}#form">
	edit</a>
      {% endif %}
    </li>
  </ul>

  <!-- description -->
  <div class="prose w-max-prose text-gray-800">
    {% if truncate %}
    {{ alternative.description|markdownify|truncatewords_html:25 }}
    <a href="{% url 'alternative-detail' alternative.issue.island.id alternative.issue.id alternative.id %}#alternative">
      read more
    </a>
    {% else %}
    {{ alternative.description|markdownify }}
    {% endif %}
  </div>


  {{ children }}
</div>
