{% load comments %}

<div id="comments"
     class="flex flex-col max-w-prose">

  <h1 class="sub">
    Comments</h1>

  {% get_comment_list for object as comment_list %}
  {% for comment in comment_list %}
  
  <div class="bg-blue-100 p-2 my-4 text-s text-gray-600">
    <div class="bg-white opacity-75 text-gray-600 p-2 text-xs font-sans max-w-max float-right">
      {{ comment.submit_date }}
      by
      <a class="text-blue-500 hover:text-green-500 transition duration-200"
	 href="{% url "profile-detail" comment.user.username %}">
	{{ comment.user.get_full_name|default:comment.user.get_username }}
      </a>
    </div>
    
    {{ comment.comment }}   
  </div>
  
  {% empty %}
  <div class="my-4">
  No comments.
  </div>
  {% endfor %}  
    
  {{ children }}
  
</div>


