{% extends "lake/island_detail.html" %}
{% load comments %}
{% load formstyle %}


{% block comments %}
{% get_comment_form for object as form %}
<form action="{% comment_form_target %}" method="POST">
  <div class="flex flex-col max-w-prose p-4 m-4" id="comment">
    {% csrf_token %}
    {{ form.comment|formstyle:"text-xl font-sans shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}      
    {{ form.honeypot }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="next" value="{% url 'island-detail' island.id %}#comments" />


    <div class="flex items-center justify-between">
      <div class="block">
	<input type="submit" value="save" class="btn-green mt-4">
      </div>
    </div>
  </div>
</form>

<style>
  #id_honeypot {
      display: none;
  }
</style>
{% endblock %}
