{% extends "lake_base.html" %}
{% load slippers %}


{% block lake_base_content %}
<div class="flex flex-col rounded-xl bg-gray-100 m-8 p-2 bg-opacity-50 border-gray-400 border-4 border-opacity-60">

<!--ficha general de la isla -->
<div class="flex-none md:flex flex-row">
    
  <!-- island icon -->
  <div class="md:w-2/12 mr-4">
    <img src="{% if island.avatar %}{{ island.avatar.url }}{% endif %}" >
  </div>

  {% include 'lake/styled_form.html' %}

</div>
</div>
{% endblock %}
