{% extends "lake_base.html" %}
{% load slippers %}
{% load markdownify %}


{% block lake_base_content %}

<div class="flex flex-col">
  
  {% for island in object_list %}
  
  {% #island_card island=island user=user truncate=True %}
  
  <!-- three issue titles -->
  <div class="grid md:grid-cols-3 gap-4 w-full font-sans mt-4">
    {% for issue in island.issue_set.all|slice:":3" %}

    {% #issue_card issue=issue user=user truncate=True %}
    {% /issue_card %}

    {% endfor %}
  </div>
  
  {% /island_card %}
  {% empty %}
  <div class="flex flex-col rounded-xl bg-gray-100 m-8 p-2 bg-opacity-50 border-gray-400 border-4 border-opacity-60">  
  No islands! 
  <a href="{% url 'island-add' %}"
     class="btn-green">build island</a>
  {% endfor %}
  </div>
  <div>
    &nbsp;
    <!-- paging -->
  </div>
</div>


{% endblock %}
