{% extends "lake_base.html" %}
{% load slippers %}

{% block lake_base_content %}
<!-- borde exterior de isla -->
<div class="flex flex-col rounded-xl bg-gray-100 border-gray-400 border-4 border-opacity-60 m-8 p-2 bg-opacity-50">
  <h1 class="sub">Build island</h1>
    {% include 'lake/styled_form.html' %}

</div>

{% endblock %}
