{% load markdownify %}
<!-- borde exterior de isla -->
<div class="flex flex-col rounded-xl bg-gray-100 border-gray-400 border-4 border-opacity-60 m-8 p-2 bg-opacity-50">

  <!--ficha general de la isla -->
  <div class="flex-none md:flex flex-row">

    <!-- island icon -->
    <div class="md:w-2/12 mr-4">
      <img src="{% if island.avatar %}{{ island.avatar.url }}{% endif %}" class="rounded-full" style="object-fit: contain;">
    </div>

    <!-- title & description -->
    <div class="md:w-8/12">

      <div>
	<a
	  class="supra hover:text-green-500 transition duration-200"
	  href="{% url 'island-detail' island.id %}">
	  {{ island.name }}
	</a>
      </div>

      <div class="flex font-sans text-sm">
	<div class="block py-2 px-4 text-gray-400">
	  stewarded by
	  <a class="text-blue-500 hover:text-green-500 transition duration-200"
	    href="{% url "profile-detail" island.custodian.username %}">{{ island.custodian.get_full_name|default:island.custodian.get_username }}</a>
	</div>
	
	<div class="block py-2 px-4 text-gray-400">
	  {{ island.default_government }} by default
	</div>
      </div>


      <!-- island controls -->
      <div class="flex flex-wrap font-sans text-sm">
	<div class="m-4">
	  {% if user == island.custodian %} <!-- TODO -->
	  <a
	    class="btn-green"
	    href="{% url 'island-update' island.id %}">
	    edit</a>
	  {% else %}
	  {{ island.custodian }}
	  {% endif %}
	</div>

	<div class="m-4">
	  {% if user %} <!-- TODO -->
	  <a
	    class="btn-green"
	    href="{% url 'membership' island.id %}">
	    members</a>
	  {% endif %}
	</div>

	<div class="m-4">
	  <a class="btn-green"
	     href="{% url 'issue-add' island.id %}#issues">
	    create issue</a>
	</div>
	
	<div class="prose">
	  {% if truncate %}
	  {{ island.description|markdownify|truncatewords_html:25 }}
	  <a class="text-blue-500 hover:text-green-500 transition duration-200"
	    href="{% url 'island-detail' island.id %}">
	    read more</a>
	  {% else %}
	  {{ island.description|markdownify }}
	  {% endif %}
	</div>
	
      </div>
      
    </div>
    
  </div>
  {{ children }}

</div>
