{% extends "island.html" %}

{% block island_content %}


<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input type="submit" value="Confirm" class="btn btn-danger">
</form>

{% endblock %}
