{% extends "lake_base.html" %}
{% load slippers %}
{% load comments %}
{% load markdownify %}

{% block lake_base_content %}

{% #island_card island=island user=user %}

{% #comments_card object=island %}
<div class="block">
  <a href="{% url 'island-comment' island.id %}#comment"
     class="btn-green mt-8">
    add comment</a>
</div>
{% /comments_card %}
{% block comments %}
{% endblock %}


{% block issue_content %}
<!-- list of issue titles -->
<div class="grid lg:grid-cols-2 gap-4 w-full font-sans mt-4" id="issues">
  {% for issue in island.issue_set.all %}

    {% #issue_card issue=issue user=user truncate=True %}
    {% /issue_card %}

  {% endfor %}
  
</div>
{% endblock %}
{% /island_card %}

{% endblock %}
