{% extends "lake/issue_detail.html" %}
{% load comments %}

{% block comments %}
{% get_comment_form for object as form %}
<form action="{% comment_form_target %}" method="POST">
  <div class="flex flex-col p-4 m-4 max-w-prose" id="comments">
  {% csrf_token %}
  {{ form.comment }}
  {{ form.honeypot }}
  {{ form.content_type }}
  {{ form.object_pk }}
  {{ form.timestamp }}
  {{ form.security_hash }}
  <input type="hidden" name="next" value="{% url 'issue-detail' island.id issue.id %}#comments" />
  <div class="block">
    <input type="submit" value="add comment" id="id_submit" class="btn-green mt-4"/>
  </div>
  </div>
</form>

<style>
#id_honeypot {
    display: none;
}
</style>
{% endblock %}
