{% extends "lake_base.html" %}
{% load slippers %}
{% load markdownify %}


{% block title %}
{{ object }}
{% endblock %}


{% block lake_base_content %}


{% #island_card island=island user=user truncate=True %}

{% #issue_card issue=issue user=user %}



{% #comments_card object=issue %}
<div class="block">
  <a href="{% url 'issue-comment' issue.island.id issue.id %}#comments"
     class="btn-green mt-4">
    add comment</a>
</div>
{% /comments_card %}

{% block comments %}
{% endblock %}



<h1 class="sub">Alternatives</h1>

<div class="grid lg:grid-flow-row lg:grid-cols-3 gap-4 m-2">

  {% block alternative_content %}
  
  {% for alternative in issue.alternative_set.all %}
     {% alternative_card alternative=alternative truncate=True %}
  {% endfor %}
  
  {% endblock %}
</div>

{% /issue_card %} 
{% /island_card %}

{% endblock %}
