{% extends "issue.html" %}

{% block issue_content %}

<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete issue "{{ object }}"?</p>
    <input type="submit" value="Confirm" class="btn btn-danger">
</form>

{% endblock %}
