{% load comments %}
{% load markdownify %}
<div id="issue"
     class="flex flex-col rounded shadow-md m-3 p-4 bg-white">

  <!-- issue title -->
  <div class="m-2">
    <a href="{% url 'issue-detail' issue.island.id issue.id %}#issue"
       class="sub hover:text-green-600 transition duration-300">
      {{ issue.title }}
    </a>
  </div>

  <!-- issue controls -->
  <div class="flex flex-wrap font-sans text-xs max-w-max">

    <div class="block py-2 px-4 text-gray-400">
      stewarded by
      <a class="text-blue-500 hover:text-green-500 transition duration-200"
	 href="{% url "profile-detail" issue.custodian.username %}">{{ issue.custodian.get_full_name|default:issue.custodian.get_username }}</a>
    </div>
    
    <div class="block py-2 px-4 text-gray-400">
	{{ issue.created }}
    </div>

    <div class="block py-2 px-4 text-gray-400">
      {{ issue.government }}
    </div>
    
    {% if issue.government == 'aristocratic' %}
    <div class="block py-2 px-4 text-gray-400">
      {{ issue.max_tokens }} tokens
    </div>
    {% endif %}
  </div>
    
  <div class="flex flex-wrap font-sans text-xs">    
    <div class="m-4">
      {% if user == issue.custodian %}
      <a
	href="{% url 'issue-update' issue.island.id issue.id %}#issues"
	class="btn-green">
	edit</a>
      {% else %}
	stewarded by {{ issue.custodian.get_full_name|default:issue.custodian.get_username }}
      {% endif %}
    </div>
    
    {% if user in issue.island.members %}
    <div class="m-2">      
      <a href="{% url 'alternative-add' issue.island.id issue.id %}"
	 class="btn-green inline-block">
	propose alternative</a>
    </div>
    {% endif %}

    {% if issue.government == 'aristocratic' %}
    <div class="m-2">      
      <a href="{% url 'standing-list' issue.island.id issue.id %}"
	 class="btn-green inline-block">
	member standings</a>
    </div>
    
    {% endif %}
    

  </div>


  <!-- issue description -->
  <div class="mt-6 prose">
    {% if truncate %}
    {{ issue.description|markdownify|truncatewords_html:25 }}
    <a href="{% url 'issue-detail' issue.island.id issue.id %}#issue">
      read more
    </a>
    {% else %}
    {{ issue.description|markdownify }}
    {% endif %}
  </div>

  {{ children }}

</div>
