{% extends "membership.html" %}

{% block membership_content %}
<div class="flex flex-col rounded-xl bg-gray-100 m-8 p-2 bg-opacity-50 border-gray-400 border-4 border-opacity-60">

  <!--ficha general de la isla -->
  <div class="flex-none md:flex flex-row">
    <!-- island icon -->
    <div class="md:w-2/12 mr-4">
      <img src="{% if island.avatar %}{{ island.avatar.url }}{% endif %}"
	   class="rounded-full"
	   style="object-fit: contain;">
    </div>

    <!-- title & description -->
    <div class="md:w-8/12">
      <div>
	<a
	  class="supra hover:text-green-500 transition duration-200"
	  href="{% url 'island-detail' island.id %}">
	  Remove from {{ island.name }}
	</a>
      </div>
    </div>
  </div>

  
<form method="post">{% csrf_token %}
    <p>Are you sure you want to remove member "{{ object.member.get_full_name|default:object.member }}"?</p>
    <input type="submit" value="Confirm" class="btn-red">
</form>
</div>
{% endblock %}
