{% extends "lake_base.html" %}
{% load slippers %}
{% load markdownify %}


{% block lake_base_content %}
<div class="flex flex-col rounded-xl bg-gray-100 m-8 p-2 bg-opacity-50 border-gray-400 border-4 border-opacity-60">

  <!--ficha general de la isla -->
  <div class="flex-none md:flex flex-row">
    <!-- island icon -->
    <div class="md:w-2/12 mr-4">
      <img src="{% if island.avatar %}{{ island.avatar.url }}{% endif %}"
	   class="rounded-full"
	   style="object-fit: contain;">
    </div>

    <!-- title & description -->
    <div class="md:w-8/12">
      <div>
	<a
	  class="supra hover:text-green-500 transition duration-200"
	  href="{% url 'island-detail' island.id %}">
	  Members of {{ island.name }}
	</a>
      </div>
    </div>
  </div>

  <div class="flex flex-wrap font-sans text-sm">
    <div class="my-4">
      <a
	class="btn-green"
	href="{% url 'membership-add' island.id %}">
	add member</a>
    </div>
  </div>



  <div class="grid grid-cols-4 gap-2 bg-gray-200">
    {% for m in object_list %}

    <div class="p-2">
      <a href="{% url "profile-detail" m.member.username %}"
	 class="text-blue-500 hover:text-green-500 transition duration-200">
      {{ m.member.get_full_name|default:m.member.get_username }}</a>
    </div>

    <div class="200 p-2">
      {{ m.status }}
    </div>

    <div class="p-2">
      {% if user == m.member %}
      <a href="{% url 'membership-delete' island.id m.id %}"
	 class="btn-red">resign</a>
      {% elif owner or steward %}
      <a href="{% url 'membership-delete' island.id m.id %}"
	 class="btn-red">remove</a>
      {% else %}
      &nbsp;
      {% endif %}
    </div>

    <div class="">
      {% if owner or steward %}

      {% if user != m.member %}
      <a href="{% url 'membership-steward' island.id m.id %}"
	 class="btn-green inline-block">entitle as steward</a>
      {% endif %}
      {% else %}
      &nbsp;
      {% endif %}
    </div>


    {% endfor %}
  </div>

</div>


{% endblock %}
