{% extends "lake_base.html" %}
{% load static %}


{% block lake_base_content %}

<!-- borde exterior de isla -->
<div class="flex flex-col rounded-xl bg-gray-100 shadow-md m-8 p-2 w-full">
  <h1 class="sub">Adding member to {{ island }}</h1>

  
  <form method="post">{% csrf_token %}
    <div class="m-4 p-4 border shadow-md rounded-md">  
      <table class="form-group">
	{{ form.as_table }}
      </table>
      <input type="submit" value="Save" class="btn-green">
    </div>
  </form>
</div>

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form.media }}

<script>
  (function($) {
      $('#add-form').click(function() {
          var index = $('#id_inline_test_models-TOTAL_FORMS').val()
          var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
          newTable.find(':input').each(function() {
              for (attr of ['name', 'id'])
                  $(this).attr(
                      attr,
                      $(this).attr(attr).replace('__prefix__', index)
                  )
          })
          newTable.insertBefore($(this))
          $('#id_inline_test_models-TOTAL_FORMS').val(
              parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
          )
          newTable.slideDown()
      })
  })($)
</script>
{% endblock %}
