<nav class="bg-blue-900 shadow-lg font-sans">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-7">
	<div>
	  <!-- Website Logo -->
	  <a href="/" class="flex items-center py-4 px-2">
	    <!-- <img src="logo.png" alt="Logo" class="h-8 w-8 mr-2">-->
	    <span class="font-semibold text-white text-lg">Lake Democracy</span>
	  </a>
	</div>


	<!-- Primary Navbar items -->
	<div class="hidden md:flex items-center space-x-1">

	  {% if request.user.is_authenticated %}
	  <a href="{% url 'island-list' %}"
	     class="py-4 px-2 text-gray-200 font-semibold hover:text-green-500 transition duration-300">
	    My Islands</a>

	  <a href="{% url 'island-add' %}"
	     class="py-4 px-2 text-gray-200 font-semibold hover:text-green-500 transition duration-300">
	    Build island</a>

	  <a href="{% url 'profile-detail' user.username %}"
	     class="py-4 px-2 text-gray-200 font-semibold hover:text-green-500 transition duration-300">
	    My Profile ({{ request.user.get_full_name|default:request.user.get_username }})</a>


	  {% if request.user.is_staff %}
	  <a href="/admin/"
	     class="py-4 px-2 text-gray-200 font-semibold hover:text-green-500 transition duration-300">
	    Admin interface</a>
	  {% endif %}

	  {% else %}
	  <a href="{% url 'account_login' %}"
	     class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-green-500 hover:text-white transition duration-300">Log In</a>
	  <a href="{% url 'account_signup' %}"
	     class="py-2 px-2 font-medium text-white bg-green-500 rounded hover:bg-green-400 transition duration-300">Sign Up</a>
	  {% endif %}
	</div>

	<!-- Mobile menu button -->
	<div class="md:hidden flex items-center">
	  <button class="outline-none mobile-menu-button">
	    <svg class=" w-6 h-6 text-gray-500 hover:text-green-500 "
		 x-show="!showMenu"
		 fill="none"
		 stroke-linecap="round"
		 stroke-linejoin="round"
		 stroke-width="2"
		 viewBox="0 0 24 24"
		 stroke="currentColor"
		 >
	      <path d="M4 6h16M4 12h16M4 18h16"></path>
	    </svg>
	  </button>
	</div>
      </div>
    </div>



    <!-- mobile menu -->
    <div class="hidden mobile-menu">
      <ul class="text-white">
	{% if request.user.is_authenticated %}
	<li>
	  <a href="{% url 'island-list' %}"
	     class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">
	    My Islands</a>
	</li>

	<li>
	  <a href="{% url 'island-add' %}"
	     class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">
	    Build island</a>
	</li>

	<li>
	  <a href="{% url 'profile-detail' user.username %}"
	     class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">
	    My Profile ({{ request.user.get_full_name|default:request.user.get_username }})</a>
	</li>

	{% if request.user.is_staff %}
	<li>
	  <a href="/admin/"
	     class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">
	    Admin interface</a>
	</li>
	{% endif %}

	{% else %}
	<li>
	  <a href="{% url 'account_login' %}"
	     class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">
	    Log In</a>
	</li>
	<li>
	  <a href="{% url 'account_signup' %}"
	     class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">
	    Sign Up</a>
	</li>
	{% endif %}
    </div>

    <script>
      const btn = document.querySelector("button.mobile-menu-button");
      const menu = document.querySelector(".mobile-menu");

      btn.addEventListener("click", () => {
	  menu.classList.toggle("hidden");
      });
    </script>

  </div>
</nav>
