{% extends "lake_base.html" %}

{% block lake_base_content %}
<div class="border rounded-xl bg-blue-200 shadow-md p-4 mt-8 mx-8">
  
  <h1 class="text-2xl mb-2 font-sans text-blue-900">User profile for {{ object.user }}</h1>

  {% include 'lake/styled_form.html' %}
  
  
</div>
{% endblock %}
