{% extends "lake_base.html" %}
{% load slippers %}
{% load markdownify %}

{% block lake_base_content %}
<div class="border rounded-xl bg-blue-200 p-4 mt-8 mx-8 bg-opacity-50 border-gray-400 border-4 border-opacity-60 ">

  <h1 class="text-2xl mb-2 font-sans text-blue-900">User profile for {{ object.user }}</h1>
  <div class="">
    {% if object.user == user %}
    <a href="{% url 'profile-update' user.username %}"
       class="btn-green">
      edit</a>
    <a href="{% url 'account_logout' %}"
       class="btn-red">
      sign out</a>
    {% endif %}
  </div>

  <div class="mt-4">

  <a href="{{ object.website }}" class="text-blue-800">{{ object.website }}</a>

  <article class="prose">
    {{ object.bio|markdownify }}
  </article>
  </div>
</div>
{% endblock %}
