{% extends "lake_base.html" %}
{% load slippers %}
{% load markdownify %}

{% load comments %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block lake_base_content %}

{% #island_card island=island user=user truncate=True %}

{% #issue_card issue=issue user=user truncate=True %}

<div>

  <div class="grid grid-cols-4 gap-2 bg-gray-200">
    {% for s in object_list %}

    <div class="p-2">
      <a href="{% url "profile-detail" s.member.username %}"
	 class="text-blue-500 hover:text-green-500 transition duration-200">
      {{ s.member.get_full_name|default:s.member.get_username }}</a>
    </div>


    <div class="p-2">
      {% if s.member != user %}
      <a href="{% url 'standing-dec-inc' island.id issue.id s.member.username 'decrease' %}"
	 class="btn-decrease">
	-
      </a>
      {% endif %}
    </div>

    <div class="200 p-2">
      {{ s.tokens }}
    </div>

    <div class="p-2">
      {% if s.member != user %}
      <a href="{% url 'standing-dec-inc' island.id issue.id s.member.username 'increase' %}"
	 class="btn-increase">
	+
      </a>
      {% endif %}
    </div>
    {% endfor %}
</div>

{% /issue_card %}
{% /island_card %}

{% endblock %}
