{% load formstyle %}

<div id="form" class="w-full max-w-prose">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 font-sans bg-opacity-50"
	method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-4">
      <label class="text-lg block text-gray-700 font-bold mb-2">
	{{ field.label }}
      </label>

      {% if 'ImageField' in field.field|capfirst %}
      {{ field }}
      {% else %}
      {{ field|formstyle:"text-s font-sans shadow appearance-none border rounded w-full py-2 px-3 mb-6 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
      {% endif %}
      
      {% if field.errors %}
      <p class="text-red-500 text-xs italic">{{ field.errors }}</p>
      {% endif %}
    </div>
    {% endfor %}    
    <div class="flex items-center justify-between">
      <div class="block">
	<input type="submit" value="save" class="btn-green">
      </div>
    </div>
  </form>
</div>
