<div class="grid grid-flow-col auto-cols-max mt-8">
  <form action="{% url 'vote' alternative.id %}" method="post">
    {% csrf_token %}

    <div class="">
      <input class="" type="radio" name="weight" id="inlineRadio2" value="2">
      <label class="" for="inlineRadio2">2</label>
    </div>

    <div class="">
      <input class="" type="radio" name="weight" id="inlineRadio1" value="1">
      <label class="" for="inlineRadio1">1</label>
    </div>
    
    <div class="">
      <input class="" type="radio" name="weight" id="inlineRadio0" value="0" checked='checked'>
      <label class="" for="inlineRadio0">0</label>
    </div>

    <div class="">
      <input class="" type="radio" name="weight" id="inlineRadio-1" value="-1">
      <label class="" for="inlineRadio-1">-1</label>
    </div>
    
    <div class="">
      <input class="clear-none" type="radio" name="weight" id="inlineRadio-2" value="-2">
      <label class="clear-none" for="inlineRadio-2">-2</label>
    </div>
    
    <div>
      <input type="submit" value="vote" class="btn-green">
    </div>
  </form>    
</div>

