{% extends "island.html" %}

{% block title %}
Alternative
{% endblock %}

{% block content %}

<div class="m-4 p-4 border shadow-md rounded-md">  
  <h2 class="text-2xl">{{ issue.title }}</h2>

    <div>
      {% block alternative_content %}
      {% endblock %}
    </div>
    
    
  </div>
</div>



{% endblock %}
