{% load static %}
{% load tailwind_tags %}
{% load slippers %}
<!doctype html>
<html>
  <head>
    <title>{% block title %}Lake Democracy{% endblock %}</title>    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    {% tailwind_css %}
  </head>
 

  <body class="bg-white font-serif leading-normal tracking-normal" style="background: url('/static/lake/pergamino.png');">    
    {% include "lake/navbar.html" %}
    
    <div class="container mx-auto">
      <section class="flex items-top justify-center">
	{% block content %}
	{% endblock %}
      </section>      
    </div>
    
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
