{% extends "base.html" %}
{% load slippers %}

{% block title %}
{{ object.name }}
{% endblock %}

{% block content %}

<aside class="hidden md:flex h-screen sticky top-0 bg-gray-100 absolute left-0">
  <div class="flex-col">

    
    <div class="p-2 bg-gray-300">
      <a class="text-lg"
	 href="{% url 'island-detail' island.id %}">
	{{ island.name }}</a>
    </div>

    {% if owner %}
    <div class="hover:bg-gray-200 p-2">    
      <a href="{% url 'island-update' island.id %}">
	Edit</a>
    </div>

    <div class="hover:bg-gray-200 p-2">
      <a class="" href="{% url 'membership-add' island.id %}">
	Add member</a>
    </div>
    {% endif %}

    
    {% if issue_adder %} <!-- TODO: if member -->
    <div class="hover:bg-gray-200 p-2">
      <a class="" href="{% url 'issue-add' island.id %}">Create issue</a>
    </div>
    {% endif %}

    {% if issue_adder and issue %}
    <div class="hover:bg-gray-200 p-2">
      <a class=""
	 href="{% url 'alternative-add' issue.island.id issue.id %}">
	Propose alternative</a>
    </div>
    {% endif %}

    
</aside>




<main>

 
    {% block island_content %}
    {% endblock %}

    {% block issue_content %}
    {% endblock %}

    

</main>



{% endblock %}
