{% extends "base.html" %}

{% block content %}

<h1>{{ alternative.issue.island }}</h1>

<h2><a href="{% url 'issue-detail' issue.id %}"> {{ alternative.issue }}</a>
<span class="badge badge-info">Issue</span></h2>

<h3>My standing</h3>
<p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">member</th>
      <th scope="col">tokens</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ standing.member }}</td>
      <td>{{ standing.tokens }}</td>
    </tr>
  </tbody>
</table>
</p>

<div class="card mb-3" style="max-width: 18rem;">
  <div class="card-header">{{ alternative.votes }}</div>
  <div class="card-body">
    <h4 class="card-title">{{ alternative.title }}</h4>
    <p class="card-text">{{ alternative.description }}</p>

    <form action="{% url 'vote' alternative.id %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Cast vote" class="btn btn-primary">
    </form>
    
  </div>
</div>




{% endblock %}
