{% extends "lake_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block aside %}
{% endblock %}

{% block lake_base_content %}
<div class="border rounded-xl bg-blue-200 p-4 mt-8 mx-8 bg-opacity-50 border-gray-400 border-4 border-opacity-60">

  <div class="bg-gray-100 rounded-xl p-4 m-4">
    <h1 class="text-lg">{% trans "Sign Out" %}</h1>
    
    <p>{% trans 'Are you sure you want to sign out?' %}</p>
    
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button class="btn-red" type="submit">{% trans 'sign out' %}</button>
    </form>
  </div>
</div>


{% endblock %}
