{% extends "lake_base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="border rounded-xl bg-blue-200 p-4 mt-8 mx-8 bg-opacity-50 border-gray-400 border-4 border-opacity-60">
  <h1>{% trans "Change Password" %}</h1>
  <p>{% trans 'Your password is now changed.' %}</p>
</div>
{% endblock %}
