{% extends "lake_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="border rounded-xl bg-blue-200 p-4 mt-8 mx-8 bg-opacity-50 border-gray-400 border-4 border-opacity-60">

<h1 class="sub">{% trans "Sign Up" %}</h1>

<p class="my-4">{% blocktrans %}Already have an account? Then please <a class="text-blue-800" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn-green" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>
{% endblock %}
