{% if widget.is_initial %}
{{ widget.initial_text }}: <a href="{{ widget.value.url }}">{{ widget.value }}</a>

{% if not widget.required %}
<input type="checkbox"
       name="{{ widget.checkbox_name }}"
       class="text-xs"
       id="{{ widget.checkbox_id }}"
       {% if widget.attrs.disabled %} disabled{% endif %}>
<label for="{{ widget.checkbox_id }}" class="text-xs">
  {{ widget.clear_checkbox_label }}</label>
{% endif %}<br>
{{ widget.input_text }}:
{% endif %}


<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}
       class="text-xs">

